/* Links from ChatGPT
https://chat.openai.com/share/0db9a9ce-5456-4e02-afcc-97845b4f3c6c */

/* This line @import are importing our google font Montserret */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
/* We use the * to refer to the whole site.
This part resets some standard settings that HTML and CSS uses. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* A CSS style element, that includes the sizes of the boxes on out website */
    font-family: 'Montserrat', sans-serif;
}

/* Displays the site in fullscreen (Removes the white boarder around the site) */
html, body {
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #171d18;
    width: 100%;
    height: 100px; 
    color: #f9fbf3; 
    display: flex; /* Makes so the container is flexable, which means that the properties is flexable */
    align-items: center; /* Makes so items (navbar) is in center */
    justify-content: space-between; /* Its how the items is aligned in the header (space-between makes space between the items*/
    padding: 0 20px; 
}
header .logo {
    margin-right: 350px; 
    margin-left: 50px;
}
header .navbar-toggler {
    margin-left: 200px; 
    margin-top: -90px; /* The minus means it is reverse, so it instead of expanding it will retract the margin*/
    padding-top: 5px; 
}

.navbar-nav li.nav-item:hover a {
    color: #FCD553 ; 
}

/* changes for the list in the dropdown */
.navbar-nav li.nav-item .dropdown-menu a {
    color: #f9fbf3 ; 
}
/* Dropdown menu - hovereffect */
.navbar-nav li.nav-item.dropdown:hover > a {
    color: #FCD553 ;  /* changes the links that are direct children to dropdown menu*/
}
/* Changes the color to hover with black when marked  */
.navbar-nav li.nav-item.dropdown:hover .dropdown-menu a:hover {
    color: #171d18 !important; /* importent overrules all CSS */
}

.navbar-nav .nav-item {
    margin-right: 20px; 
    margin-top: 8px;
    font-size: 16px;
}

nav.navbar {
    background-color: #171d18 !important; 
    padding: 20px 0px 20px 0px;
}

nav.navbar a {
    color: #f9fbf3; 
}

/* Padding between logo and navbar */
nav {
    padding-left: 20px; 
}

nav {
    display: flex; /* Converts nav to a flex-contaigner wich it the reason why we can use Justify content on it */
    font-weight: bold; 
    font-size: 16px;
    justify-content: flex-start; /* flex start so the object starts in left top og the screen */
    align-items: right;
}

nav a {
    margin: 0 10px;
    color: #f9fbf3;
    text-decoration: none; /* Removes underline in links from bootstrap */
}

nav a.hover {
    color: yellow;
}

.dropdown-menu :hover {
    text-decoration: none; 
}

/* Our "Tilmeld dig" button in the nav bar */
nav a.signup {
    background-color: #f9fbf3; 
    padding: 15px;
    color: #171d18; 
    text-decoration: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 150px;
    
}

.dropdown-menu {
    max-height: 200px;
    z-index: 1000; /* is a CSS property that defines the order of overlapping HTML elements. */
    width: auto; 
    max-width: none; 
    position: absolute; /* positions nearst its parrent element */
}
/* Common rules for both normal and hover mode */
.navbar-nav li.nav-item.dropdown .dropdown-menu {
    background-color: #171d18; 
    min-height: auto; /* Make min-height auto so it fits the content */
    padding: 10px; 
    max-height: none; /* Overrule max-height */
}

/* Places all links in static whitch means it places an element in the normal document flow  */
.navbar-nav li.nav-item.dropdown .dropdown-menu a {
    position: static;
    line-height: 30px; /* line-height for the text in dropdown-menu */
    color: #f9fbf3; 
    display: block;
    padding: 10px;
}

.navbar-nav li.nav-item.dropdown:hover .dropdown-menu a {
    color: #f9fbf3; 
}

.dropdown-menu a {
    color: #f9fbf3; 
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-left: 10px; 
}

.dropdown-menu a:hover {
    color: inherit; /* causes the element to take the computed value of the property from its parent element. */
    text-decoration: none; 
    margin: 0;
    padding: 0;
    padding-left: 10px; 
}
/* Fluid container - expanding the content in bootstrap */
.container-fluid {
    display: flex;
    justify-content: space-between;
}


/* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY */
/* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY *//* BODY */


/* STYLING AF LANDING PAGE */
.landing-page {
    background-image: url('media/spillere-efter-kampen.webp'); /* Our photo as a background */
    background-size: cover; /* Fill all screen */
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; /* viewport height */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* sets how flex items are placed in the flex container defining the main axis and the direction */
    justify-content: center;
    max-width: 100%;
}
.club {
    background-color: rgba(255, 255, 255, 0.85); /* white background with 85% transparency */
    padding: 60px 60px 80px 60px; 
    color: #171d18; 
    text-align: left; 
    margin-left: 80px;
    margin-right: 80px;
    max-width: 1000px;
}

.slogan-text {
    font-size: 18;
    font-weight: 700; /* bold text */
    color: #171D18;
    padding-left: 20px;
}
.cta {
    margin-top: 60px;
}
/* rule set for small screens  */
@media (max-width: 767px) {
    .club {
        margin-left: 20px;
        margin-right: 20px;
    }

    .slogan-text {
        font-size: 16px;
    }

    .button2 {
        padding: 15px;
    }
}

/* BUTTONS STYLING */
.button2 {
    background-color: #FCD553;
    color: #171d18;
    font-size: 16px;
    font-weight: 700;
    padding: 21px;
    display: inline-block; /* button is inline element, and inline-block value allows to set a widt and heigt on it */
    border: none; /* removes border around the button  */
    text-decoration: none;
    margin-top: 10px;
}

.button2 a {
    text-decoration: none;
    color: #171d18;
} 
.list {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #171D18;
    color: #F9FBF3;
    padding: 20px 40px 15px 40px;
    width: 60%;
}

/* HEADERS STYLING */
/* our main header styling */
h1, .main-heading { 
    font-size: 64px;
    font-weight: 800;
    color: #2E6314;
}
/* our main header styling on mobile */
@media (max-width: 767px) {
    .main-heading {
        font-size: 48px;
    }
}
/* our h2 header styling */
h2, .title-meld {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #171D18;
    text-transform: uppercase;
}
/* our h3 header styling */
h3, .title, #title-medlem, .title-undercategory {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #171D18;
  margin-top: 20px;
    margin-bottom: 20px;
}
/* our h4 header styling */
h4, .title-adresse, .title-lobbyen, .title-hold, .title-group, .title-badmington, .title-loeb, .title-volley, .title-fitness {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #171D18;
    text-transform: uppercase;
}
/* our h5 header styling */
h5, .form-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #171D18;
}
/* our h6 header styling */
h6, .categories {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #171D18;
    text-transform: uppercase;
}
/* our h7 header styling */
h7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #171D18;
}

/* END HEADERS */

/* our focus text styling */
.focus-text {
    background-color: #FCD553;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #171D18;
    max-width: 200px; 
    max-height: 80px;
    padding: 10px;
    display: inline-block;
    letter-spacing: -2.5%; /* space between letters in words */
    line-height: 2.5; /* space between the text lines */
}
.section2 .focus-text {
    background-color: #FCD553;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #171D18;
    max-width: 200px;
    max-height: 40px;
    padding: 10px;
    display: inline-block;
    letter-spacing: -2.5%;
    line-height: 2.5;
}

.flex-container .description {
    align-items: center; 
    justify-content: center; 
    padding: 10px;
    text-align: left; /* align text to the left */
    margin: 80px auto;
    max-width: 800px;
    display: flex;
}

.flex-container .sponsors {
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    flex-direction: row; /* sets direktion to the row */
    margin: 20px;
}
/*   */
.sponsors img {
    padding: 10px;
    width: calc(10% - 60px); /* Set the image width to 10% of the container width minus 60 pixels */
    margin: 0 10px 15px;
    object-fit: fill; /* Adapt the image to the dimensions of its container, filling the entire available area */
}
/* rule set for small screens for sponsors bar */
@media (max-width: 992px)  {
        .sponsors img {
            width: calc(100% - 20px); 
        }
        .flex-container .sponsors {
            flex-direction: column;
            padding-top: 10px;
        }
}
@media (max-width: 767px) {
    .sponsors img {
        width: calc(50% - 80px);
    }
    .flex-container .sponsors {
        flex-direction: column;
        padding-top: 10px;
    }
}
/* rule set for small screens for our 3 sections */
@media (max-width: 767px) {
    .section1 {
        flex-direction: column;
        margin-left: 20px;
        padding: 20px; 
    }

    .flex-column {
        width: 100%; 
    }
}

@media (max-width: 767px) {
    .section2 {
        flex-direction: column;
        margin-left: 10px;
        padding: 10px;
    }

    .flex-column {
        width: 100%; 
    }
}

@media (max-width: 767px) {
    .section3 {
        flex-direction: column;
        width: 100%;
    }
    .list ul {
       width: 100%;
    }

    .list {
        padding: 0 20px;
        padding-top: 20px;
        width: 80%;

    }
    .flex-column {
        width: 100%; 
        margin-left: 20px;
        padding: 20px;
      	order: -1; /* changing the order of displaying elements on mobile, so that the category title and text appear first, and then photos - availability */
    }
}
/* background for our section1 */
.section1 {
    background-image: url(media/shape.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    width: 100%;
  padding: 20px;
}

.section1 .flex-column {
    margin-left: 20px;
}

.section1 img {
    padding: 30px;
    max-width: 560px;
    height: auto;
    width: 100%;
}

.section2 .flex-column {
    margin-left: 20px;
}

.section2 {
    background-image: url(media/shape2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    width: 100%;
}

.section2 img {
    padding: 30px;
    max-width: 560px;
    height: auto;
    width: 100%;
}

.section3 {
    padding: 40px;
    border-style: dashed;
}

/* BREADCRUMBS */
.breadcrumb {
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: 400;
color: #171D18;
text-transform: uppercase;
}
.breadcrumb-item a {
    color: #B4B4B4
}
.breadcrumb-item.active {
    color: #171D18;
}

/* TILMELDING.HTML */
.tilmelding .flex-container {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}

/* styling for mobile version */
@media (max-width: 767px) {
    .tilmelding .flex-container {
        margin: 30px 5px 5px 20px;
        display: flex;
        flex-direction: row;
    }
    .list2 ul {
        padding-right: 5px;
        margin-bottom: 10px; 
    }

    .boxes {
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: solid 0.5px;
        max-width: 400px;
    }
}

.list2 {
    margin-right: 40px;
    color: #171D18;
    padding-right: 60px;
    max-width: 600px;
}

#form {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* input fields styling */
.boxes {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 0.5px;
}

.checkbox-label {
    display: flex; 
    align-items: center; 
    margin-left: 20px;
}

.item input {
    margin-right: 10px; 
}

.item {
    display: flex; 
    max-width: 600px;
}

/* END TILMELDING.HTML */

/* GALLERY STYLING - fotos: own, club´s */
.gallery {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines if needed */
    justify-content: center;
}

.gallery img {
    width: calc(33.33% - 60px); /* This creates a responsive layout with three items in a row */
    margin: 0 10px 15px;
    height: 50%; /* This ensures that each item takes up half of the available vertical space */
    object-fit: cover;
}
/* GALLERY STYLING - for mobile version */
@media (max-width: 768px) {
    .gallery img {
        width: calc(50% - 20px);
    }
}

@media (max-width: 992px) {
    .gallery img {
        width: calc(50% - 20px);
    }
}

/* BACKGROUND for our undersites - shape */
.generalforsamling .content, .arrangementer .content, .vedtaegter .content, .privatlivspolitik .content, .tilmelding .content, .kontakt .content, .lobbyen .content, .galleri .content, .fodbold .content, .badmington .content, .loeb .content, .volleybold .content, .fitness .content {
    background-image: url(media/shape.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

/*  text styling on undersites */
.kontakt .text-bestyrelsesmedlemmerne, .lobbyen .text-klub, .fodbold .text-klub, .fodbold p, .badmington .text-klub, .loeb .text-klub, .volleybold .text-klub, .fitness .text-klub {
    text-align: left;
    display: inline-block; 
    max-width: 600px;
}
/*  text styling on football.html - columns */
.title-hold {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-hold {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column-hold {
  flex: content;
  margin: 0 10px; 
  flex-direction: column;
}
/*  styling for contact informations */
.info-card {
    text-align: left;
    max-width: 1200px;
}

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER *//* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */
/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

footer {
    background-color: #171d18;
    color: white;
}
footer .container {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

/* Styling logos position i footer */
footer .footerlogo {
    text-align: left;
    padding-bottom: 50px;
}
/* medium screen styling */
footer .col-md-3 {
    text-align: left;
}
footer p {
    line-height: 20px;
}
footer a {
    line-height: 40px;
}
/* button styling in footer */
footer .footertilmelding {
    background-color: #FCD553;
    color: #171d18;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
}
footer .col-md-3 .footertilmelding {
    width: 150px;
}
/* text under button styling */
footer label {
    margin-top: 30px;
}

footer .sport {
    margin-left: 50px;
    text-align: left;
}

footer h1 {
    text-align: center;
    padding: 10px;
}

footer h5 {
    font-weight: bold;
    font-size: 16px;
}

footer h6 {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
/* Media that adjusts the position of the menu when you click on the Burger menu */
@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 56px; 
        right: 10px;
        background-color: #171d18;
    }
    /* Common rules for both normal and hover mode */
    .navbar-nav li.nav-item.dropdown .dropdown-menu {
        background-color: #171d18; 
        min-height: auto; /* Make min-height auto so it fits the content */
        padding: 10px; 
        max-height: none; /* Overrule max-height */
    }

    /* Add position: static; to the links within the dropdown menu */
    .navbar-nav li.nav-item.dropdown .dropdown-menu a {
        position: static;
        line-height: 20px; /* Changes the line-height of the text in the dropdown menu */
        color: #f9fbf3; 
        display: block;
        padding: 10px;
    }

    .navbar-nav li.nav-item.dropdown:hover .dropdown-menu a {
        color: #f9fbf3; 
    }


    .navbar-nav li.nav-item.dropdown .dropdown-menu a:hover {
        color: #FCD553; 
    }

/* Adjust line spacing between footer elements on small screens */
    @media (max-width: 768px) {
        footer .container {
            justify-content: space-evenly;
            flex-direction: column;
            margin-left: 40px;
        }
    }
    @media (max-width: 992px) {
        footer .container {
            justify-content: space-evenly;
            flex-direction: column;
            margin-left: 40px;
        }
    }
    
    footer .row {
        margin-top: 20px; 
    
    }
    footer .col-md-3 {
        margin-bottom: 20px; 
    }
    footer h6 {
        margin-top: 20px;
    }
    footer a.footertilmelding {
        margin-top: 20px; 
    }

    /* move "SOCIAL MEDIA" closer to "Privatlivspolitik" */
    footer .SOCIAL {
        margin-top: 10px; 
        margin-bottom: 10px; 
    }
    
}
/* Adjust the position of the elements in large screen */
/* Move the ".footertilmelding" and ".SOCIAL" elements up by 200 pixels */
@media (min-width: 992px) {
    footer .footertilmelding,
    footer .SOCIAL {
        margin-top: -200px;  
    }
}
/* changes to label - text under the button */
    footer label {
        white-space: pre-line; 
    }

